{# /templates/blocs/bloc_rs.html.twig #}

<div id="blocRS" class="hidden">
  <div class="blockRS">      
    <div class="lienRS linkedin hidden" id="linkedin">
      <a href="http://www.linkedin.com/company/groupe-revue-fiduciaire" target="_blank" onclick="_gaq.push(['_trackEvent', 'Bandeau-RS', 'Linkedin', 'Suivre']);" title="Linkedin - Suivre">Suivre</a> - <a onclick="_gaq.push(['_trackEvent', 'Bandeau-RS', 'Linkedin', 'Partager']);window.open('','_new').location.href='https://www.linkedin.com/cws/share?url='+document.URL;" href="javascript: void(0)" title="Linkedin - Partager">Partager</a>      
    </div>  
    <div class="socicon linkedin" msg="linkedin" color="#0077B5"><i class="rs-linkedin"></i></div>
  </div>

  <div class="blockRS">      
    <div class="lienRS twitter hidden" id="twitter">
      <a href="https://twitter.com/GroupeRF" onclick="_gaq.push(['_trackEvent', 'Bandeau-RS', 'Twitter', 'Suivre']);" target="_blank" title="Twitter - Suivre">Suivre</a> - <a onclick="_gaq.push(['_trackEvent', 'Bandeau-RS', 'Twitter', 'Partager']);window.open('','_new').location.href='http://twitter.com/share?url='+document.URL+'&text='+n+'&urlpicture='+image+'';" href="javascript: void(0)" title="Twitter - Partager">Partager</a>    
    </div>  
    <div class="socicon twitter" msg="twitter" color="#00B4E0"><i class="rs-twitter"></i></div>
  </div>

  <div class="blockRS">      
    <div class="lienRS facebook hidden" id="facebook">
      <a href="https://www.facebook.com/pages/Groupe-Revue-Fiduciaire/139957909387113" onclick="_gaq.push(['_trackEvent', 'Bandeau-RS', 'Facebook', 'Suivre']);" target="_blank" title="Facebook - Suivre">Suivre</a> - <a rel="nofollow" href="http://www.facebook.com/share.php?u=<;url>" onclick="return fbs_click();" target="_blank" title="Facebook - Partager">Partager</a>      
    </div>   
    <div class="socicon facebook" msg="facebook" color="#3C599B"><i class="rs-facebook"></i></div>
  </div>   

  <div class="blockRS">      
    <div class="lienRS rss hidden" id="rss">
      <a href="http://www.grouperf.com/rss" target="_blank" title="Les fils RSS">Les fils RSS</a>    
    </div> 
    <div class="socicon rss" msg="rss" color="#D6402F"><i class="rs-actu"></i></div>
  </div> 
</div>
<div id="hideRS"><i class="rs-share"></i></div>
<div id="backtop" class="buttonScrollTop hidden-xs" data-anchor="top" data-toggle="tooltip" data-placement="left" title="Haut de page"><i class="rs-arrow-up-12"></i></div>