{# /templates/blocs/home_selected_actu.html.twig #}

<section id="selection-du-mois">
	<div class="global_contain centrage margin-top-40 actu">la sélection du mois</div>
	<div class="shadow global_contain centrage">
		<div class="contain_revue">
			<div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 0px;">
				<div class="bxslider" style="width: auto; position: relative;">
					<div style="float: none; list-style: none; position: absolute; width: 980px; z-index: 0; display: none;">
						<img id="slide1" src="{{ asset('img/actu/slide01.jpg') }}" title="">
						<div class="bx-caption"><div class="alaune">À LA <font style="font-weight:800;">UNE</font>
						</div><p class="zoom_txt"><a href="http://rfsocial.grouperf.com/article/0215/ra/20210120102951758.html" class="rubrique_zoom">Chômage partiel</a> <i class="icon icon-lock-close-1 lockZoom"></i><span class="zoom_titre"><a href="http://rfsocial.grouperf.com/article/0215/ra/20210120102951758.html ">Activité partielle&nbsp;: les règles 2021 vont être adaptées</a></span><span class="zoom_chapo"><a href="http://rfsocial.grouperf.com/article/0215/ra/20210120102951758.html ">Les restrictions sanitaires se prolongeant, le gouvernement a transmis mi-janvier [...]</a></span></p></div>
					</div>
					<div style="float: none; list-style: none; position: absolute; width: 980px; z-index: 50; display: block;">
						<img id="slide2" src="{{ asset('img/actu/slide02.jpg') }}" title="">
						<div class="bx-caption"><div class="alaune">À LA <font style="font-weight:800;">UNE</font>
						</div><p class="zoom_txt"><a href="http://rfsocial.grouperf.com/article/0215/ra/20201113133015546.html" class="rubrique_zoom">Gestion du personnel</a> <i class="icon icon-lock-open-1 lockZoom"></i><span class="zoom_titre"><a href="http://rfsocial.grouperf.com/article/0215/ra/20201113133015546.html ">Isolement, burn-out, stress de la reprise... : des risques psychosociaux à surveiller</a></span><span class="zoom_chapo"><a href="http://rfsocial.grouperf.com/article/0215/ra/20201113133015546.html ">La crise sanitaire a bouleversé l'organisation du travail, de manière durable. [...]</a></span></p></div>
					</div>
					<div style="float: none; list-style: none; position: absolute; width: 980px; z-index: 0; display: none;">
						<img id="slide3" src="{{ asset('img/actu/slide03.jpg') }}" title="">
						<div class="bx-caption"><div class="alaune">À LA <font style="font-weight:800;">UNE</font>
						</div><p class="zoom_txt"><a href="http://rfsocial.grouperf.com/article/0215/ra/20210113141957126.html" class="rubrique_zoom">Maladie</a> <i class="icon icon-lock-close-1 lockZoom"></i><span class="zoom_titre"><a href="http://rfsocial.grouperf.com/article/0215/ra/20210113141957126.html ">Les arrêts de travail dérogatoires «&nbsp;covid-19&nbsp;» reconduits et étendus pour 2021</a></span><span class="zoom_chapo"><a href="http://rfsocial.grouperf.com/article/0215/ra/20210113141957126.html ">Un décret du 8&nbsp;janvier 2021 reconduit jusqu'au 31&nbsp;mars trimestre 2021 les arrêts [...]</a></span></p></div>
					</div>
					<div style="float: none; list-style: none; position: absolute; width: 980px; z-index: 0; display: none;">
						<img id="slide4" src="{{ asset('img/actu/slide04.jpg') }}" title="">
						<div class="bx-caption"><div class="alaune">À LA <font style="font-weight:800;">UNE</font>
						</div><p class="zoom_txt"><a href="http://rfsocial.grouperf.com/article/0215/ra/20201217143212872.html" class="rubrique_zoom">Gestion du personnel</a> <i class="icon icon-lock-close-1 lockZoom"></i><span class="zoom_titre"><a href="http://rfsocial.grouperf.com/article/0215/ra/20201217143212872.html ">Que retenir du nouvel ANI sur le télétravail&nbsp;?</a></span><span class="zoom_chapo"><a href="http://rfsocial.grouperf.com/article/0215/ra/20201217143212872.html ">L'importance prise par le télétravail dans les entreprises pour lutter contre [...]</a></span></p></div>
					</div>
			</div></div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div></div></div>

			<div class="bx-pager">
				<a class="pagers" data-slide-index="0" href=""></a>
				<a class="pagers active" data-slide-index="1" href=""></a>
				<a class="pagers" data-slide-index="2" href=""></a>
				<a class="pagers" data-slide-index="3" href=""></a>
			</div>

		</div>
	</div>
</section>