{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="container">
        {{ include('security/_form_login.html.twig') }}
    </section>
{% endblock %}
