{# @app/security/_form_login_nav.html.twig #}

<form action="{{ path('app_login') }}" method="post">
  <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Me connecter
  </button>
  <ul class="dropdown-menu">
    <li>
		<input id="identifiant" type="email" name="email" autocomplete="false" onKeyPress="if(event.keyCode == 13) submit();" value="{#{{ last_username }}#}" placeholder="identifiant" required />
    </li>
    <li>
    	<input id="passe" class="site_header_pass" type="password" name="password" autocomplete="false" onKeyPress="if(event.keyCode == 13) submit();" value="" placeholder="mot de passe" required />
    </li>
    <li>
    	<label>
            <input type="checkbox" name="_remember_me"> Rester Connecte
        </label>
    </li>
    <li>
    	<input type="hidden" name="_csrf_token"
			value="{{ csrf_token('authenticate') }}"
		/>
		<button style="width:94%" onclick="submit();" class="btn btn-success" id="bouton-connexion" type="button">Me connecter</button>
	</li>
	<li class="divider"></li>
	<li><a href="#" target="_blank">Mot de passe oubli&eacute; ?</a></li>
  </ul>
</form>
