{% extends '@app/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="container">
        {{ include('@app/security/_form_login.html.twig') }}
    </section>
{% endblock %}
