{# @app/blocs/home_tools_services.html.twig #}

<section id="outils-et-services">
	<div class="global_contain centrage margin-top-40 actu">outils et services</div>
	<div class="global_contain centrage2 ">	
		<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table_content">
			<tbody><tr>
				<!-- Simulateurs --> 
				<td width="32%" class="shadow ">
					<p class="titre-content-dos text-center">Saisie sur salaire</p>
					<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table_content_dos">
						<tbody><tr>
							<td align="center">
								<div class="pastilleIcon_bis"></div>
								<div class="pastilleIcon">
									<i class="demo-icon icon-bank-notes-1"></i>
								</div>
								<a href="/calcul/?fichier=saisie_sur_salaires"><img src="{{ asset('img/tools/saisie_salaire.jpg') }}" class="border" border="0" vspace="0" hspace="0"></a>
							</td>
						</tr>
						<tr>
							<td>
								<p class="desc-dos">
									Une évaluation rapide de la saisie sur salaire.
								</p>
							</td>
						</tr>
					</tbody></table>   
				</td>
				<!-- ENd Simulateurs --> 
				
				<td class="sep_cel"></td>
				
				<!-- JT --> 
				<td width="32%" class="shadow ">
					<p class="titre-content-dos text-center">le magazine</p>

					<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table_content_dos">
						<tbody><tr>
							<td align="center">
								<div class="pastilleIcon2_bis"></div>
								<div class="pastilleIcon2">
									<i class="demo-icon icon-jt"></i>
								</div>
								<a href="/videos/"><img src="{{ asset('img/tools/eddlr.jpg') }}" class="border" border="0" vspace="0" hspace="0"></a>
							</td>
						</tr>
						<tr>
							<td>
								<p class="desc-dos">
									Toute l'actualité juridique en vidéo. 
								</p>
							</td>
						</tr>
					</tbody></table>  										
				</td>
				<!-- End Jt --> 
				
				<td class="sep_cel"></td>
				
				<!-- saisie sur salaire  -->
				<td width="32%" class="shadow ">
					<p class="titre-content-dos text-center">Dictionnaire Social</p>
					<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table_content_dos">
						<tbody><tr>
							<td align="center">
								<div class="pastilleIcon3_bis"></div>
								<div class="pastilleIcon3">
									<i class="demo-icon icon-mensuel"></i>
								</div> 
								<a href="/dictionnaire/social/navigation.php?lettre=a"><img src="{{ asset('img/tools/dico.jpg') }}" border="0" vspace="0" hspace="0" class="border"></a>
							</td>
						</tr>
						<tr>
							<td>
								<p class="desc-dos">
									Pour des réponses immédiates en droit du travail, de l'emploi et de la protection sociale. <br>

								</p>								
							</td>
						</tr>
					</tbody></table>  
				</td>	
				
				
			</tr>
			<tr>
				<td class="padding-15-0-15-15 shadow">
					<a class="lien" href="/calcul/?fichier=saisie_sur_salaires"><i class="fa fa-eye" aria-hidden="true"></i> Effectuer la simulation </a>				
				</td>
				<td class="sep_cel"></td>
				<td class="padding-15-0-15-15 shadow">
					<a class="lien" href="/videos/"><i class="fa fa-eye" aria-hidden="true"></i> Visionner</a>
				</td>
				<td class="sep_cel"></td>
				<td class="padding-15-0-15-15 shadow">
					<a class="lien" target="_blank" href="/dictionnaire/social/navigation.php?lettre=a"><i class="fa fa-eye" aria-hidden="true"></i> Consulter</a>
				</td>
			</tr>
			<tr>
				<td style="height:20px;" colspan="5"></td>
			</tr>
		</tbody></table>
	</div>
</section>