{# /templates/bo/dashboard.html.twig #}

{% extends 'bo/base.html.twig' %}

{% block title %}Dashboard | {{ parent() }}{% endblock %}

{% block body %}
	<div class="container">
		<h1>Hello Admin</h1>
	</div>
{% endblock %}