<div class="nav-wrapper">
  <a href="#" data-target="bo-sidebar" class="sidenav-trigger" style="display:block;"><i class="material-icons">menu</i></a>
  <a href="{{ path('bo__dashboard') }}" class="brand-logo">BO Grande Arche</a>
  <ul class="right hide-on-med-and-down">
    <li>{{ app.user.firstname }} {{ app.user.lastname }}</li>
    <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
  </ul>
  <ul class="right hide-on-large-only">
    <span>yo</span>
  </ul>
</div>