{# @bo/sidenav.html.twig #}

<ul id="bo-sidebar" class="sidenav">
  {# <li></li> #}
  <li><a class="sidenav-close" href="#!"><i class="material-icons">exit_to_app</i>Fermer</a></li>
  <li><a href="{{ path('rf__home') }}"><i class="material-icons">nature_people</i>Retour au Site</a></li>
  <li><a href="{{ path('bo__dashboard') }}"><i class="material-icons">airplay</i>Dashboard</a></li>
  <li><a href="{{ path('bo__article__list') }}"><i class="material-icons">art_track</i>Articles</a></li>
</ul>